{
  "presets": ["next/babel"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": true,
        "ssr": true
      }
    ],
    ["styled-components", { "ssr": true }]
  ]
}
